# ***oops***
- versatile used in different programming languages

- class- blueprint or template which defines attribute(variable),method
- object - instance of class which can implement a class and hold its own data
- encapsulation - hiding data
- inheritance - getting characters from parents class
- types - single,multiple, multilevel
- class interitance - class going to inherit
- method inheritance - method is going to inherit
- instance- using super keyword
- polymorphism- same functions with different names with types overriding, overloading

class className:
    #statements 1
    .
    .
    .
    #statements n

In [1]:
class Myclass:
    x = 5                                # class variable

    #constructor used for intialization
    def __init__(self,y):                # self= diff between class and instance variable
        self.y = y                       #instance variable

    # Method
    def display(self):
        print(f"{self.y}")               #print vs return = print -does not change flow of program,multiple output ,return- it changes the flow of program,only one output

In [2]:
obj = Myclass(8)

In [3]:
#Accessing class variable or attribute
Myclass.x

# or
obj.x

5

In [4]:
obj.y

8

In [5]:
#call the method
obj.display()

8

In [6]:
Myclass.x = 10
Myclass.x

10

In [7]:
obj.y = 16
obj.y

16

In [8]:
class Dog:
    Species = 'Canine'
  # constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age
#method
    def display_info(self):
        print(f"the dog name is {self.name} and the age is {self.age}")

dog1 = Dog("puppy", 3)
dog2 = Dog("charlie", 5)

print(Dog.Species)
print(dog1.name)
print(dog2.age)
dog1.display_info()

Canine
puppy
5
the dog name is puppy and the age is 3

In [9]:
class divisible:
    def __init__(self,num1,num2):                           #passing parameters using constructor
        self.num1 =num1
        self.num2 =num2

    def div2(self):
        if self.num1%2 ==0:
            print("divisible by 2")
        else:
            print("not divisible by 2")
    def div3(self):
        if self.num2%3 ==0:
            print("divisible by 3")
        else:
            print("not divisible by 3")

divisible =divisible(9,15)
divisible .div2()
divisible.div3()

not divisible by 2
divisible by 3

In [10]:
class divisible:
    def __init__(self,num1):                           #passing parameters using constructor
        self.num1 =num1
        

    def div2(self):
        for i in range(self.num1):
            if i%2 == 0:
                print("divisible by 2")
            else:
                print("not divisible by 2")
   

div1=divisible(10)
div1.div2()

divisible by 2
not divisible by 2
divisible by 2
not divisible by 2
divisible by 2
not divisible by 2
divisible by 2
not divisible by 2
divisible by 2
not divisible by 2

In [11]:
class car:
    car_count = 0
    def __init__(self,make,model):
        self.make= make
        self.model= model

        car.car_count+=1

    def display(self):
        print(f"car Manufacture {self.make}, and Model name {self.model}")

car1 = car("KIA","Sonet")
car2 = car("Ford","Mustang")
car3 = car("toyota","fortuner")
car4 = car("mahndra","thar")

car4.display()

car Manufacture mahndra, and Model name thar

In [12]:
print(car.car_count)

4

In [13]:
class calculator:
    def __init__(self,num1,num2):
        self.num1 = num1
        self.num2 = num2
    def add(self):
        print("addition", self.num1+self.num2)
    def sub(self):
        print("substraction", self.num1-self.num2)
    def mul(self):
        print("multiplication", self.num1*self.num2)
    def div(self):
        print("division", self.num1/self.num2)
    def mod(self):
        print("mod", self.num1%self.num2)
    
    
    
cal =calculator(12,6)
cal.add()
cal.sub()
cal.mul()
cal.div()  
cal.mod()

addition 18
substraction 6
multiplication 72
division 2.0
mod 0

#### ***Encapsulation***

In [14]:
class Person:
    def __init__(self,name,city):
        self.name = name
        self.city = city
    def display_info(self):
        return f"{self.name}, {self.city}"
obj = Person("Ash","India")

In [15]:
obj.name

'Ash'

In [16]:
obj.city

'India'

In [17]:
class Per:
    def __init__(self,name,city):
        self.__name = name # private attribute(__)
        self.__city = city
    def display_info(self):
        return f"{self.__name}, {self.__city}"
obj1 = Per("pratiksha","ankola")

In [18]:
# obj1.name ## doesn't give direct acess to see inputs private method

In [19]:
obj1.display_info()

'pratiksha, ankola'

In [20]:
class Bankaccount():
    def __init__(self,name,balance):
        self.name =name
        self.__balance =balance
        
    def deposit(self,amount):
        if amount >0:
            self.__balance +=amount
            print(f"balance after deposite {self.__balance}")
        else:
            print("deposit amount must be positive")

    def withdraw(self,amount):
        if amount > 0:
            if self.__balance >= amount:
                self.__balance -= amount
                print(f"balance after withdraw {self.__balance}")

            else: 
                print("insufficient balance")

    def get_balance(self):
        return self.__balance
account = Bankaccount("Sudeep",5000)

In [21]:
account.deposit(500)

balance after deposite 5500

In [22]:
account.withdraw(1000)

balance after withdraw 4500

In [23]:
account.get_balance()

4500

In [24]:
class student:
    def __init__(self,name):
        self.name = name 
        self.__grades ={}

    def add_grade(self,subject, grade):
        if 0<= grade <=100:
            self.__grades[subject] = grade
        else:
            print("invalid grade")
    def get_grade(self,subject):
        return self.__grades.get(subject)

    def get_all_grades(self):
        return self.__grades
s1= student("Ravi")
s1.add_grade("math",99)
s1.add_grade("science",79)


s1.get_grade('math')

99

In [25]:
s1.get_all_grades()

{'math': 99, 'science': 79}

# *Single Inheritance*

# **Multiple Inheitance**

In [28]:
class Bird:
    def __init__(self,Name):
        self.name=Name 
    def display(self):
        return self.name
    
class Swimmer:
    def swim(self):
        return "Swimming"
    
class Flayer:
    def __init__(self,Name):
        super(). __init__(Name)
   
    def fly(self):
        return f"{self.name} Flying"

    
class Duck(Bird,Swimmer,Flayer):
    def quck(self):
        return "Quack"
   
    
bird = Duck("Egale")
bird.fly()

'Egale Flying'

In [29]:
bird.swim()

'Swimming'

In [30]:
bird.display()

'Egale'

### **Multilevel inheritance **

In [35]:
class Class_10():
    def __init__(self,fname,lname,age,student_id, class_id):
        super().__init__(fname,lname,age,student_id)
        self.class_id = class_id 

    def display_info(self):
        print(f"{self.first_name+''+ self.last_name} is studying.(Student ID: {self.student_id}), (Class ID: {self.class_id})")

student2 = Class_10("Ravi","nayak",24,1,2)

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [36]:
class Student:
    def __init__(self, fname, lname, age, student_id):
        self.first_name = fname
        self.last_name = lname
        self.age = age
        self.student_id = student_id

class Class_10(Student):
    def __init__(self, fname, lname, age, student_id, class_id):
        super().__init__(fname, lname, age, student_id)
        self.class_id = class_id 

    def display_info(self):
        print(f"{self.first_name} {self.last_name} is studying. (Student ID: {self.student_id}), (Class ID: {self.class_id})")

student2 = Class_10("Ravi", "Nayak", 24, 1, 2)
student2.display_info()

Ravi Nayak is studying. (Student ID: 1), (Class ID: 2)

## **Polymorphism**

In [37]:
class Bird:
    def __init__(self,Name):
        self.name=Name 
    def display(self):
        return self.name
    
class Swimmer:
    def swim(self):
        return "Swimming"
    
class Flayer:
    def __init__(self,Name):
        super(). __init__(Name)
   
    def fly(self):
        return f"{self.name} Flying"

    
class Duck(Bird,Swimmer,Flayer):
    def quck(self):
        return "Quack"

In [ ]:
obj = Duck("Parrot") #overriding with same name different functions

In [39]:
obj.fly()

'Parrot Flying'

In [ ]:
obj2 = Duck("Pecock") #performing operations with same name
obj2.fly()

'Pecock Flying'

In [41]:
obj2.swim()

'Swimming'

In [42]:
obj2.quck()

'Quack'

In [45]:
a = 258
b= 258
print(id(a),id(b))
a is b

1832945724304 1832945724816

False

In [46]:
a = 1
b = 1
print(id(a),id(b))

a is b # comparing on the base of id -5 to 256 id will be same after 256 changes id of variable

140713528591272 140713528591272

True

## ***Overloading***

In [47]:
class Mathoperation:
    def add(self,a,b,c = 0,d= None):
        if d is not None:
            return a+b+c+d
        return a+b+c
add = Mathoperation()
add.add(12,13)

25

In [48]:
add.add(12,13,14)

39

In [49]:
add.add(12,13,14,11)

50