In [1]:
text1= "The rain in bengaluru"
text2="The-rain-in-bengaluru"
pattern=r'\s'

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import re
string1 ='Twelve:12 Ninty nine:99'
pattern=r'\B'
match =re.split(pattern,string1)
print(match)

['T', 'w', 'e', 'l', 'v', 'e:1', '2 N', 'i', 'n', 't', 'y n', 'i', 'n', 'e:9', '9']

In [4]:
text="regular expression can include literal charcaters"
match = re.split(r'\s',text)
match

['regular', 'expression', 'can', 'include', 'literal', 'charcaters']

## **Replace**
re.sub

In [5]:
text = "the King in the north clims he is worthy"
pattern = r'king'
match = re.sub(pattern,'Queen',text,flags=re.IGNORECASE)
print(match)

the Queen in the north clims he is worthy

In [6]:
text="hello world"
pattern =r'world'
match=re.sub(pattern,'Universe',text,flags=re.IGNORECASE)
print(match)

hello Universe

In [7]:
text="python is high level language"
pattern= r'\s'
subt = re.sub(pattern,'-',text,2)
print(subt)

python-is-high level language

re.subn - how many times replaced

In [8]:
text = "subject has uber booked already"
pattern = r'ub'
suc=re.subn(pattern,'UB',text,re.IGNORECASE)
print(suc)

('sUBject has UBer booked already', 2)

In [9]:
text = "subject has uber booked already"
pattern = r'\s'
suc=re.subn(pattern,'_',text)
print(suc)

('subject_has_uber_booked_already', 4)

### **re.compile**

In [10]:
pattern = re.compile(r'\d+') #extract only digits from sentence + used to give all digits coorectely in date format

In [11]:
text = 'today is 14-7-2025, Monday'
match = pattern.findall(text)
match

['14', '7', '2025']

In [12]:
date_pattern=re.compile(r'\d{2}-\d{2}-\d{4}')
day_pattern=re.compile(r'\b(Monday|Tuesdy|Wednesday|Thursday|Friday|Saturday|Sunday)\b')

In [13]:
date = date_pattern.findall(text)
print(date)

[]

In [14]:
day=day_pattern.findall(text, re.IGNORECASE)
print(day)
for i,j in zip(date_pattern, day_pattern):
    print(i,j)

['Monday']

TypeError: 're.Pattern' object is not iterable

In [ ]:
for i,j in zip(date_pattern, day_pattern):
    match = i.findall(text)
    match1=j.findall(text)
    print(match,'-',match1)

TypeError: 're.Pattern' object is not iterable

In [ ]:
12|5

13